# Entorno virtual
.venv/
venv/

# Archivos de sistema
__pycache__/
*.pyc

# Base de datos local
db.sqlite3

# Archivos generados
staticfiles/
media/
data/

# Variables de entorno
.env

# IDEs
.idea/
.vscode/
