# Entorno virtual
.venv/
venv/
ENV/

# Archivos de sistema
__pycache__/
*.pyc

# Archivos de base local
db.sqlite3
data/
media/

# Archivos generados por Django
staticfiles/
static/

# Archivo de variables
.env

# Configuración de editor
*.vscode/
.idea/
